.container {
    padding: 3%;
    text-align: center;
}
.puck {
    width: 30%;
    text-align: center;
    float: left;
    margin: 25px;
    box-sizing: border-box;
}

.bubba {
    width: 25%; 
    text-align: center;
    float: right;
    margin: 25px;
    box-sizing: border-box;
}
}

.madrona {
   
    float: left;
    text-align: center;
    margin: 40px;
    box-sizing: border-box;
}
}